*{
    margin: 0;
    padding: 0;
}
.container{
    height: auto;
}
.container .container-fluid img{
    margin-left: 6em;
}
.navbar-expand-lg .navbar-collapse {

    margin-left: 10em;
} 
.main-component{
    display: flex;
    flex-wrap: wrap;
}
.main{
    display: flex;
    flex-wrap: wrap;
    font-size: Merriweather;
    font-size: 1em;
    position: relative;
}
.main-text{
    margin: 92px;
}
.wrap{
    margin-top: 10em;
    display: flex;
    align-items: center;
    
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li {
    color: white;
    
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.55);
    margin: 10px;
}
.quienes-somos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30em;
    
}
.quienes-somos-leon{
    width: 50%;
}
.quienes-somos-leon h3{
    padding: 2em;
}
section{
    width: 90%;
    background:#E0E0E0;
    margin: 0 auto;
    margin-top: 10em;
}
.servicios{
    background-color: #000;
    color: #fafafa;
    height: 228em;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 58em;
    z-index: -1;
    width: 100%;
    
}
.servicios h3{
    margin-top: 15em;
    padding: 1em;
}
.derecho-trabajo{
    width: 68%;
    padding: 1em;
}
.balanza{
    width: 30%;
    margin-top: 5em;
    display: flex;
}
.balanza img{
    border-radius: 50%;
    width: 50%;
    margin: 0 auto;
}
.fila1{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}
.fila1 .imagen1 {
    width: 33%;
    display: flex;
    height: fit-content;
}
.fila1 .imagen2 {
    width: 33%;
    display: flex;
    height: fit-content;
}
.fila1 .imagen3 {
    width: 33%;
    display: flex;
    height: fit-content;
}
.fila1 .imagen1 span{
    color: #fafafa;
}
h4{
    padding: 5px;
}
.fila1 .nones{
    display: none;
}
.lawyer{
    margin-top: 5em;
}
.lawyer img:first-child {
    transform: scaleX(-1);
    filter: brightness(0.5);
}
.lawyer img:last-child {
    filter: brightness(0.5);
}
.contacto{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    align-items: center;
    margin-top: 8em; 

}
.contacto .adress{
    width: 50%;
}
.contacto .socrates{
    width: 50%;
}
.direccion{
    margin-top: 5em;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}
.mapouter {
    position: relative;
    height: 350px;
    width: 100% !important;  
}



@media (max-width: 600px) {
    .main-text{
        margin: 30px;
        padding: 13px;
    }
    .container .container-fluid img{
        margin-left: 0em;
    }
    .wrap{
        margin-top: 15em;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .fluid-image {
        max-width: 100%;
        height: auto;
    }
    .quienes-somos{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 27em;
        flex-wrap: wrap;
    }
    .quienes-somos-leon{
        width: 100%;
    }
    .quienes-somos-leon h3{
        padding: 15px;
    }
    .quienes-somos-leon p{
        margin-bottom: 1px;
        padding: 15px;
    }
    .quienes-somos .quienes-somos-leon .leon img{
        width: 90%;
        margin-top: 10px;
    }
    .leon img{
        margin-top: 2em;
    }
    section{
        width: 100%;
        background:#E0E0E0;
        margin: 0 auto;
        margin-top: 5em;
    }
    .fila1 {
        display: flex;
        flex-wrap: wrap;
    }
    .fila1 .imagen1 {
        width: 100%;
        display: flex;
        height: fit-content;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15%;
        margin-top: 10%;
    }
    .fila1 .imagen2 {
        width: 100%;
        display: flex;
        height: fit-content;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15%;
        margin-top: 10%;
    }
    .fila1 .imagen3 {
        width: 100%;
        display: flex;
        height: fit-content;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15%;
        margin-top: 10%;
    }
    .servicios{
        height: 306em;
        top: 99em;
    }
    .balanza{
        width: 100%;
    }
    .balanza img{
        width: 90%;
    }
    .lawyer img:first-child {
        transform: scaleX(-1);
        filter: brightness(0.5);
        width: 100%;
    }
    .lawyer img:last-child {
        display: none;
    }
    .contacto{
        flex-direction: column;
    }
    .contacto .socrates{
        width: 100%;
    }
    .contacto .socrates img{
        width: 100%;
    }
    .mapouter {
        position: relative;
        height: 350px;
        width: 100%;
        overflow: scroll;        
    }
    
   
  }